h1 {
  font-size: 26pt;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

h2 {
  text-align: center;
  font-size: 14pt;
  font-family: 'Press Start 2P', cursive;
  color: white
}

p {
  font-size: 10pt;
  font-family: 'Press Start 2P', cursive;
  color: white;
  line-height: 2;
}

header {
  margin: 40px;
}

footer {
  margin: 80px;
  text-align: center;
}

a {
  font-size: 14px;
  color: dimgray;
}



.button {
  font-size: 10pt; 
  font-family: 'Press Start 2P', cursive;
  background-color: royalblue;
  color: white;
  border: none;
  padding: 16px;
  cursor: pointer;
  margin: 10px
}

.button:hover {
  background-color: white;
  color: royalblue;
}

.grow {
  animation: grow-animation .25s;
}

@keyframes grow-animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 40px;
}
